body {
    margin: 0px;
    height: 100%;
    overflow: hidden;
    background-color: #000;
    font-family: 'Roboto Mono', monospace;
    color: #fff;
    font-weight: 300;
    text-align: center;
}

canvas {
    border: 0px solid #000;
    position: relative;
}

span {
    position: absolute;
    width: 100%;
    top: 60px;
    margin: 0 auto;
    z-index: 1;
    font-size: 1em;
    line-height: 1.6em;
}
